<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.UserMapper">
    <select id="findByUserName" resultType="com.crm.pojo.User">
         SELECT * FROM t_user where username = #{userName}
    </select>
</mapper>